In [2]:
import sqlite3 as sql3
import pandas as pd
import csv

In [ ]:
csv_escolas = 'MICRODADOS_ENEM_ESCOLA.csv'
csv_idhm_municipios = 'idhm-municipios.csv'
db_file_path = 'tp2.db'
tabela_escolas = 'escola'
tabela_idhm_municipios = 'idhm'
try:
    # Jogando csv em um dataframe pandas
    df_escolas = pd.read_csv(csv_escolas, encoding='latin-1', sep=';')
    create_table_escolas_query = f"""
    CREATE TABLE {tabela_escolas} (
        NU_ANO INTEGER NOT NULL,
        CO_UF_ESCOLA INTEGER,
        SG_UF_ESCOLA CHAR(2),
        CO_MUNICIPIO_ESCOLA INTEGER,
        NO_MUNICIPIO_ESCOLA TEXT,
        CO_ESCOLA_EDUCACENSO INTEGER,
        NO_ESCOLA_EDUCACENSO TEXT,
        TP_DEPENDENCIA_ADM_ESCOLA CHAR(1),
        TP_LOCALIZACAO_ESCOLA CHAR(1),
        NU_MATRICULAS INTEGER,
        NU_PARTICIPANTES_NEC_ESP INTEGER,
        NU_PARTICIPANTES INTEGER,
        NU_TAXA_PARTICIPACAO FLOAT,
        NU_MEDIA_CN FLOAT,
        NU_MEDIA_CH FLOAT,
        NU_MEDIA_LP FLOAT,
        NU_MEDIA_MT FLOAT,
        NU_MEDIA_RED FLOAT,
        NU_MEDIA_OBJ FLOAT,
        NU_MEDIA_TOT FLOAT,
        INSE TEXT,
        PC_FORMACAO_DOCENTE FLOAT,
        NU_TAXA_PERMANENCIA FLOAT,
        NU_TAXA_APROVACAO FLOAT,
        NU_TAXA_REPROVACAO FLOAT,
        NU_TAXA_ABANDONO FLOAT,
        PORTE_ESCOLA TEXT,
        CONSTRAINT check_TP_DEPENDENCIA_ADM_ESCOLA CHECK (TP_DEPENDENCIA_ADM_ESCOLA IN ('1','2','3','4','5','6','7','8','9')),
        CONSTRAINT check_TP_LOCALIZACAO_ESCOLA CHECK (TP_LOCALIZACAO_ESCOLA IN ('1','2')),
        CONSTRAINT pk_escola PRIMARY KEY(NU_ANO, CO_ESCOLA_EDUCACENSO)
    );
    """
    create_table_idhm_municipios_query = f"""
    CREATE TABLE idhm_municipio (
    Territorialidades VARCHAR(255),
    IDHM_2000 DECIMAL(4, 3),
    IDHM_2010 DECIMAL(4, 3),
    IDHM_Renda_2000 DECIMAL(4, 3),
    IDHM_Renda_2010 DECIMAL(4, 3),
    IDHM_Longevidade_2000 DECIMAL(4, 3),
    IDHM_Longevidade_2010 DECIMAL(4, 3),
    IDHM_Educacao_2000 DECIMAL(4, 3),
    IDHM_Educacao_2010 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2000 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2010 DECIMAL(4, 3),
    Subindice_escolaridade_IDHM_Educacao_2000 DECIMAL(4, 3),
    Subindice_escolaridade_IDHM_Educacao_2010 DECIMAL(4, 3),
    Renda_per_capita_2012 DECIMAL(10, 2),
    Renda_per_capita_2013 DECIMAL(10, 2),
    Renda_per_capita_2014 DECIMAL(10, 2),
    Renda_per_capita_2015 DECIMAL(10, 2),
    Subindice_escolaridade_IDHM_Educacao_2012 DECIMAL(4, 3),
    Subindice_escolaridade_IDHM_Educacao_2013 DECIMAL(4, 3),
    Subindice_escolaridade_IDHM_Educacao_2014 DECIMAL(4, 3),
    Subindice_escolaridade_IDHM_Educacao_2015 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2012 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2013 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2014 DECIMAL(4, 3),
    Subindice_frequencia_escolar_IDHM_Educacao_2015 DECIMAL(4, 3),
    IDHM_Educacao_2012 DECIMAL(4, 3),
    IDHM_Educacao_2013 DECIMAL(4, 3),
    IDHM_Educacao_2014 DECIMAL(4, 3),
    IDHM_Educacao_2015 DECIMAL(4, 3),
    IDHM_Longevidade_2012 DECIMAL(4, 3),
    IDHM_Longevidade_2013 DECIMAL(4, 3),
    IDHM_Longevidade_2014 DECIMAL(4, 3),
    IDHM_Longevidade_2015 DECIMAL(4, 3),
    IDHM_Renda_2012 DECIMAL(4, 3),
    IDHM_Renda_2013 DECIMAL(4, 3),
    IDHM_Renda_2014 DECIMAL(4, 3),
    IDHM_Renda_2015 DECIMAL(4, 3),
    IDHM_2012 DECIMAL(4, 3),
    IDHM_2013 DECIMAL(4, 3),
    IDHM_2014 DECIMAL(4, 3),
    IDHM_2015 DECIMAL(4, 3),
    Renda_per_capita_2000 DECIMAL(10, 2),
    Renda_per_capita_2010 DECIMAL(10, 2),
    Desagregacao_HOMEM_IDHM_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_Renda_per_capita_PNAD_1 DECIMAL(10, 2),
    Desagregacao_HOMEM_Renda_per_capita_PNAD_2 DECIMAL(10, 2),
    Desagregacao_HOMEM_Renda_per_capita_PNAD_3 DECIMAL(10, 2),
    Desagregacao_HOMEM_Renda_per_capita_PNAD_4 DECIMAL(10, 2),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_escolaridade_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Longevidade_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_Renda_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_PNAD_1 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_PNAD_2 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_PNAD_3 DECIMAL(4, 3),
    Desagregacao_HOMEM_IDHM_PNAD_4 DECIMAL(4, 3),
    Desagregacao_HOMEM_Renda_per_capita_Censo_1 DECIMAL(10, 2),
    Desagregacao_HOMEM_Renda_per_capita_Censo_2 DECIMAL(10, 2),
    Desagregacao_MULHER_IDHM_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_Censo_1 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_Censo_2 DECIMAL(4, 3),
    Desagregacao_MULHER_Renda_per_capita_PNAD_1 DECIMAL(10, 2),
    Desagregacao_MULHER_Renda_per_capita_PNAD_2 DECIMAL(10, 2),
    Desagregacao_MULHER_Renda_per_capita_PNAD_3 DECIMAL(10, 2),
    Desagregacao_MULHER_Renda_per_capita_PNAD_4 DECIMAL(10, 2),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_escolaridade_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_Subindice_frequencia_escolar_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Educacao_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Longevidade_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_Renda_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_PNAD_1 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_PNAD_2 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_PNAD_3 DECIMAL(4, 3),
    Desagregacao_MULHER_IDHM_PNAD_4 DECIMAL(4, 3),
    Desagregacao_MULHER_Renda_per_capita_Censo_1 DECIMAL(10, 2),
    Desagregacao_MULHER_Renda_per_capita_Censo_2 DECIMAL(10, 2),
    CONSTRAINT pk_idhm_municipio PRIMARY KEY (Territorialidades)
    );
    """
    df_idhm_municipios = pd.read_csv(csv_idhm_municipios, encoding='latin-1', sep=',')
    # Criando conexão com sql
    conn = sql3.connect(db_file_path)
    cursor = conn.cursor()
    cursor.execute(f"DROP TABLE IF EXISTS {tabela_escolas}")
    cursor.execute(f"DROP TABLE IF EXISTS {tabela_idhm_municipios}")
    cursor.execute(create_table_escolas_query)
    cursor.execute(create_table_idhm_municipios_query)
    #print(df_escolas.isnull().sum())
    # Colocando o dataframe como tabela no banco de daos
    df_escolas.to_sql(tabela_escolas, conn, if_exists='append', index=False)
    df_idhm_municipios.to_sql(tabela_idhm_municipios, conn, if_exists='append', index=False)
    

finally:
    if 'conn' in locals() and conn:
        conn.close()

C:\Users\jeanb\AppData\Local\Temp\ipykernel_1820\1342816180.py:8: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_escolas = pd.read_csv(csv_escolas, encoding='latin-1', sep=';')

In [ ]:
conn = sql3.connect("tp2.db")
cursor = conn.cursor()
query = "PRAGMA table_info(idhm_municipio);"
df = pd.read_sql(query, conn)
display(df)

,cid,name,type,notnull,dflt_value,pk
0,0,Territorialidades,VARCHAR(255),0,None,1
1,1,IDHM_2000,"DECIMAL(4, 3)",0,None,0
2,2,IDHM_2010,"DECIMAL(4, 3)",0,None,0
3,3,IDHM_Renda_2000,"DECIMAL(4, 3)",0,None,0
4,4,IDHM_Renda_2010,"DECIMAL(4, 3)",0,None,0
...,...,...,...,...,...,...
122,122,Desagregacao_MULHER_IDHM_PNAD_2,"DECIMAL(4, 3)",0,None,0
123,123,Desagregacao_MULHER_IDHM_PNAD_3,"DECIMAL(4, 3)",0,None,0
124,124,Desagregacao_MULHER_IDHM_PNAD_4,"DECIMAL(4, 3)",0,None,0
125,125,Desagregacao_MULHER_Renda_per_capita_Censo_1,"DECIMAL(10, 2)",0,None,0
126,126,Desagregacao_MULHER_Renda_per_capita_Censo_2,"DECIMAL(10, 2)",0,None,0